@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

:root {
	--Roboto: "Roboto", sans-serif;
	--OpenSans: "Open Sans", sans-serif;
	--Lato: "Lato", sans-serif;
}

.filer_container {
	height: 600px !important;
	position: relative;
	object-fit: cover;
	overflow: hidden;
}

.filer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	max-width: 1500px;
	font-size: 16px;
}

.filer_heading {
	font-size: 2.8em;
	font-family: var(--Lato);
	font-weight: 600;
	color: #303030;
	text-transform: capitalize;
}

.filer_cik {
	font-size: 1.5em;
	font-family: var(--Lato);
	font-weight: 600;
	text-align: left;
	text-align: bottom;
	margin-top: 26px;
	color: #303030;
}

.filer_address {
	font-size: 1.3em;
	font-family: var(--Lato);
	font-weight: 500;
	color: #303030;
	text-transform: capitalize;
}

/* Market Value Graph */

.market_value_graph_container {
	height: 750px;
	background: white;
	position: relative;
	overflow: hidden !important;
	object-fit: cover;
	z-index: 0 !important;
}

.market_value_graph {
	font-family: var(--OpenSans);
	position: relative;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 1500px;
	font-size: 16px;
}

.filer_page_section_heading {
	background: #fcf4eb;
	border-radius: 4px;
}

.total_market_value_heading {
	font-family: var(--Roboto);
	font-size: 1.2em;
	color: #303030;
	margin-left: 25px;
}

.filerName_in_marketValue_graph_head {
	font-family: var(--Roboto);
	font-size: 0.8em;
	color: #777777;
	margin-left: 25px;
	text-transform: capitalize;
}

/* Biggest Holdings */
.biggest_holdings_container {
	height: 600px;
	background: white;
	position: relative;
	overflow: hidden !important;
	object-fit: cover;
	z-index: 0 !important;
}

.biggest_holdings {
	font-family: var(--OpenSans);
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	max-width: 1500px;
	font-size: 16px;
}

/* Top Buys */
.top_buys_container {
	height: 650px;
	background: white;
	position: relative;
	overflow: hidden !important;
	object-fit: cover;
	z-index: 0 !important;
}

.top_buys {
	font-family: var(--OpenSans);
	position: relative;
	top: 37%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	max-width: 1500px;
	font-size: 16px;
}

/* Ownership History */
.ownership_history_container {
	height: 1000px;
	background: white;
	position: relative;
	overflow: hidden !important;
	object-fit: cover;
	z-index: 0 !important;
}

.ownership_history {
	font-family: var(--OpenSans);
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	max-width: 1500px;
	font-size: 16px;
}
