@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
	--Roboto: "Roboto", sans-serif;
	--OpenSans: "Open Sans", sans-serif;
}

@media (max-width: 490px) {
	.contact_us_container.contact_us_container.contact_us_container {
		height: 1450px;
	}

	.contact_us_box.contact_us_box.contact_us_box {
		top: 95%;
		height: 690px;
		margin-left: -7px;
	}

	.message_box.message_box.message_box {
		margin-left: 30px !important;
	}
}

@media (max-width: 768px) {
	.contact_us_container.contact_us_container {
		height: 1300px;
	}

	.contact_us.contact_us {
		top: 42%;
	}

	.contact_us_box.contact_us_box {
		top: 85%;
		height: 640px;
	}

	.contact_us_box .inputBox.inputBox {
		left: 5%;
	}

	.message_inputs.message_inputs {
		margin-top: 30px;
	}

	.contact_us_box .inputBox.inputBox input {
		width: 90% !important;
	}

	.provide_email.provide_email {
		left: 5%;
		margin-top: 5px;
		margin-bottom: 30px;
	}

	.message_box.message_box {
		margin-left: 50px !important;
	}
}

@media (max-width: 940px) {
	.message_box.message_box {
		margin-left: 20px;
	}

	.contact_us_box .inputBox input {
		width: 100% !important;
	}
}

.contact_us_container {
	height: 1100px;
	position: relative;
	overflow: hidden !important;
	object-fit: cover;
}

.contact_us {
	position: relative;
	top: 49%;
	left: 52%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 1500px;
	font-size: 16px;
}

.contact_us_heading {
	font-family: var(--Roboto);
	font-weight: 700;
	color: #404040;
	font-size: 2.8em;
}

.contact_notice {
	font-family: var(--OpenSans);
	color: #404040;
	font-size: 0.8em;
}

.link_to_homepage {
	color: #fe6f7d;
}

.link_to_homepage:hover {
	color: #fe6f7d;
}

.email_us {
	font-family: var(--OpenSans);
	margin-top: 70px;
	color: #7f7f7f;
}

.contact_form {
	margin-top: 40px;
}

.contact_us_div {
	width: 100%;
	height: 400px !important;
	position: relative;
}

.contact_us_box {
	position: absolute;
	height: 400px;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
	background: #fff;
	border-radius: 12px;
}

.message_inputs {
	margin-top: 40px;
}

.contact_us_box .inputBox {
	position: relative;
	left: 10%;
	margin-top: 20px;
}

.contact_us_box .inputBox input {
	width: 80%;
	padding: 5px;
	padding-left: 10px;
	font-size: 18px;
	color: #fe6f7d;
	border: none;
	border-bottom: solid #a9a9a9 1px;
	outline: none;
	background: transparent;
	text-align: left;
}

.contact_us_box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	font-size: 1em;
	font-family: var(--OpenSans);
	opacity: 0.5;
	transition: 0.4s;
	z-index: -1;
}

.contact_us_box .inputBox input:focus ~ label,
.contact_us_box .inputBox input:valid ~ label {
	top: -25px;
	left: 0;
	color: #a9a9a9;
	font-size: 12px;
	opacity: 1;
}

.provide_email {
	position: relative;
	left: 10%;
	color: #fe6f7d;
	font-family: var(--OpenSans);
	font-size: 0.9em;
}

.message_box {
	margin-left: 40px;
}

.message {
	color: #7f7f7f;
	font-family: var(--OpenSans);
	font-weight: 600;
}

textarea {
	resize: none;
	color: #fe6f7d;
}
.textarea_contact {
	color: #fe6f7d;
}

.textarea_contact:focus {
	outline: none !important;
	box-shadow: none !important;
	color: #fe6f7d;
	border-color: #cccccc;
}

/* CSS for submit button */
.send_message_btn {
	position: relative;
	padding: 10px 30px;
	cursor: pointer;
	text-align: center;
	display: block;
	border: 0;
	outline: none;
	border-radius: 4px;
	color: white;
	margin-top: 40px;
	background-color: rgba(254, 111, 125, 1);
	font-family: var(--OpenSans);
}

.send_message_btn:hover {
	box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
	background-color: rgba(254, 111, 125, 1) !important;
	color: #fff;
}

.send_message_btn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.send_message_btn span:after {
	content: "\21E8";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.send_message_btn:hover span {
	padding-right: 25px;
}

.send_message_btn:hover span:after {
	opacity: 1;
	right: 0;
}

.send_message_btn:focus {
	background-color: rgba(254, 111, 125, 1) !important;
}
