.footer_container {
	height: 75vw;
	background: #0D0D0D;
}

.margin2 {
	margin-top: 0.5vw;
}

.margin3 {
	margin-top: 1vw;
}

.margin4 {
	margin-top: 2vw;
}

.margin5 {
	margin-top: 3vw;
}

.footer_box {
	background: transparent;
	text-align: center;
	width: 80vw;
	height: 28vw;
	left: 50%;
	top: 32%;
	position: relative;
	transform: translate(-50%, -50%);
	border-radius: 1%;
}

.footer_section {
	color: #fff;
	font-size: 1.3vw;
	font-family: ArialMT;
	text-align: left;
}

.footer_heading {
	color: #fff;
	font-size: 1.4vw;
	font-family: SegoeUI-Bold;
	text-align: left;
}

.filer_items {
	color: #a9a9a9;
	font-size: 1.1vw;
	font-family: SegoeUI;
	text-align: left;
}

.filer_items:hover {
	color: #a9a9a9;
}

.horizontal_line {
	height: 0.1vw;
	background-color: #707070;
}

.quick_links {
	margin-top: 3.4vw;
}

.closing_row {
	margin-top: 8vw;
}

.white_logo {
	width: 70%;
}

.closing_headings {
	color: #7f7f7f;
	font-size: 1.4vw;
	font-family: Arial-BoldMT;
	text-align: left;
}

.closing_content {
	color: #7f7f7f;
	font-size: 1vw;
	font-family: SegoeUI;
	text-align: left;
}

.stamp_div {
	text-align: right;
	position: absolute;
	right: 0;
	margin-right: -13vw;
}

.stamp {
	width: 40%;
}