/* 1st section */

.Background {
	width: 100%;
}

.contain {
	position: relative;
  	text-align: center;
}

.market_beating {
	color: #404040;
  	font-size: 3vw;
  	font-family: Helvetica;
}

.centered {
  	position: absolute;
  	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	margin-right: -10px;
}

.centered_form {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.lookup_home {
	background: rgba(254, 111, 125, 0.03);
	font-family: ArialMT;
	font-size: 1vw;
	height: 2.41vw;
	width: 40vw !important;
	border-color: #a2a2a2;
	border-width: 0.15vw;
	position: relative;
}

.lookup_home:focus {
	background: rgba(254, 111, 125, 0.03);
	box-shadow: none;
	border-color: rgba(254,111,125,1);
}

.search_icon {
	margin-right: 0.4vw;
}

.search {
	font-size: 1vw;
	font-family: ArialMT;
	margin-left: 33.1vw;
	height: 2.2vw;
	box-shadow: none !important;
	background-color: rgba(254, 111, 125, 0.9);
	color: #fff;
	padding: 0.3vw 1vw 0.3vw 1vw;
	border-radius: 2px;
	border: none;
	position: absolute;
}

.search:focus {
	outline: none;
}

.carousel_text {
	color: #464545;
	font-size: 1vw;
	font-family: ArialMT;
}

.centered_carousel {
  	position: absolute;
  	top: 62%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.centered_carousel_link {
  	position: absolute;
  	top: 69%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: #fe6f7d;
  	font-size: 0.8vw;
  	font-family: ArialMT;
}

.centered_carousel_link:hover {
	color: #fe6f7d;
}

/* 2nd section */

.inside_db_container {
	height: 45vw;
	background: white;
	position: relative;
	overflow: hidden;
}

.box {
	height: 3.4vw;
	width: 12vw;
	background: #c8ddd6;
	position: absolute;
	margin-top: 11.8vw;
	z-index: 1;
}

.box_text {
	height: 3.4vw;
	width: 11vw;
	margin-top: 12vw;
	margin-left: 10vw;
	font-size: 1.4vw;
	font-family: ArialMT;
	line-height: 1.2;
	text-align: right;
	position: absolute;
}

.so_far_text {
	margin-top: 11.6vw;
	margin-left: 26vw;
	font-family: Arial-BoldMT;
	line-height: 1.2;
	color: #404040;
	font-size: 2.6vw;
	position: absolute;
}

.filer_stats {
	margin-top: 25vw;
	margin-left: 26vw;
	font-family: Arial-BoldMT;
	color: #404040;
	font-size: 4.5vw;
	position: absolute;
}

.securities_stats {
	margin-top: 25vw;
	margin-left: 50vw;
	font-family: Arial-BoldMT;
	color: #404040;
	font-size: 4.5vw;
	position: absolute;
}

.hedgefund_stats {
	margin-top: 25vw;
	margin-left: 74vw;
	font-family: Arial-BoldMT;
	color: #404040;
	font-size: 4.5vw;
	position: absolute;
}

.filer_stat_type {
	font-size: 1.2vw; 
	font-family: ArialMT; 
	margin-top: 30.4vw;
	margin-left: 26.3vw;
	color: #404040;
	position: absolute;
}

.security_stat_type {
	font-size: 1.2vw; 
	font-family: ArialMT; 
	margin-top: 30.4vw;
	margin-left: 50.5vw;
	color: #404040;
	position: absolute;
	text-align: left;
}

.fund_stat_type {
	font-size: 1.2vw; 
	font-family: ArialMT; 
	margin-top: 30.4vw;
	margin-left: 74.2vw;
	color: #404040;
	position: absolute;
}

.lower_left_design {
	margin-left: -13.8vw;
	margin-top: 10.3vw;
	z-index: 0;
	position: absolute;
	width: 25.6vw;
}

.right_design {
	float: right;
	margin-top: -22.3vw;
	margin-right: -19vw;
	z-index: 0;
	width: 25.6vw;
}

/* 3rd Section */

.know_more_container {
	height: 49vw;
	position: relative;
	margin-right: 0px;
}

.container {
	margin-left: 6vw;
}

.know_more {
	font-size: 2.5vw;
	font-family: ArialMT;
	line-height: 1.2;
	margin-top: 7vw;
}

.tabs_know {
	margin-top: 2vw;
	line-height: 1.3;
}

.tabs_know_heading {
	color: #7f7f7f !important;
	font-size: 1.1vw;
	margin-top: 2vw;
}

.tabs_know_heading.active {
	background:
     linear-gradient(
       to right,
       rgba(254, 111, 125, 0.9) 0%,
       rgba(254, 111, 125, 0.9) 0.3vw,
       transparent 0.3vw
     );
  	color: #404040 !important;
}

.tab_content {
	color: #7f7f7f;
	font-size: 1.25vw;
	font-family: ArialMT;
	line-height: 1.3;
	margin-top: 3vw;
	margin-left: 5.5vw;
}

.know_more_image {
	width: 30%;
	position: absolute;
	bottom: 0vw;
	right: 6.5vw;
}

/* 4th container */

.what_is_13F_container {
	height: 48vw;
	background: white;
	overflow: hidden;
	position: relative;
}

.box_13f {
	height: 0.7vw;
	width: 10.5vw;
	background: #89c7aa;
	position: absolute;
	margin-top: 17vw;
}

.lower_left_design_13f {
	margin-left: -15.2vw;
	margin-top: 17vw;
	z-index: -1;
	width: 25.6vw;
}

.right_design_13f {
	float: right;
	margin-top: -10vw;
	margin-right: -14vw;
	z-index: -1;
	width: 25.6vw;
}

.what_is_13f_text {
	margin-top: 10vw;
	margin-left: 18vw;
	font-family: Arial-BoldMT;
	color: #404040;
	font-size: 2.8vw;
	position: absolute;
}

.what_is_13f_content {
	margin-top: 16.6vw;
	margin-left: 18vw;
	font-family: SegoeUI;
	color: #404040;
	font-size: 1vw;
	position: absolute;
}

.know_more_13f {
	margin-top: 32vw;
	margin-left: 18vw;
	font-family: SegoeUI;
	color: #fe6f7d;
	font-size: 1vw;
	position: absolute;
}

.know_more_13f:hover {
	color: #fe6f7d;
}


.key_takeaways_head {
	margin-top: 10vw;
	margin-left: 50vw;
	font-family: ArialMT;
	color: #fe6f7d;
	font-size: 1.4vw;
	position: absolute;
}

.key_takeaways_content {
	margin-top: 16.6vw;
	margin-left: 50vw;
	font-family: SegoeUI;
	color: #404040;
	font-size: 1vw;
	position: absolute;
}

/* 5th section */

.popular_portfolio_container {
	height: 46vw;
}

.popular_portfolio_carousel_static {
	background: #262528;
	height: 46vw;
	width: 25%;
	float: left;
}

.popular_portfolio_on_mrktdb {
	color: #fff;
	font-size: 2vw;
	font-family: ArialMT;
	margin-left: 5.5vw;
	margin-top: 4.5vw;
	line-height: 1.3;
}

.know_about_top_hedge_funds {
	color: #e5e5e3;
	font-size: 1.3vw;
	font-family: ArialMT;
	margin-top: 2vw;
	margin-left: 5.5vw;
	line-height: 1.4;
}

.portfolio_names {
	margin-left: 5.5vw;
	margin-top: 9vw;
}

.portfolio_name {
	color: #b3b2b1;
	font-size: 1.1vw;
	font-family: ArialMT;
	margin-top: 1vw;
}

.more_portfolios_link {
	color: #b3b2b1;
	font-size: 1.2vw;
	font-family: ArialMT;
	margin-left: 4.5vw;
}

.popular_portfolios {
	background: #E5E5E3;
	height: 46vw;
	width: 75%;
	float: right;
}

.carousel_row {
	margin-left: 4vw;
}

.portfolio_heading {
	color: #404040;
	font-size: 2.7vw;
	font-family: Arial-BoldMT;
	margin-top: 5.5vw;
	line-height: 1.2;
}

.port_head {
	margin-top: 1.5vw;
}

.portfolio_value_head {
	color: #484848;
	font-size: 1.1vw;
	font-family: Arial-BoldMT;
	margin-top: 3vw;
}

.portfolio_value {
	color: #484848;
	font-size: 1.1vw;
	font-family: Arial-BoldMT;
}

.portfolio_value_number {
	color: #484848;
	font-size: 1vw;
	font-family: ArialMT;
}

.top_holdings_text {
	color: #484848;
	font-size: 1.4vw;
	font-family: Arial-BoldMT;
	margin-top: 3.7vw;
}

.top_holding_symbol_1 {
	color: #484848;
	font-size: 1vw;
	font-family: Arial-BoldMT;
	margin-top: 2vw;
}

.top_holding_symbol {
	color: #484848;
	font-size: 1vw;
	font-family: Arial-BoldMT;
	margin-top: 0.5vw;
}

.top_holding_name {
	color: #484848;
	font-size: 1vw;
	font-family: ArialMT;
	margin-left: 1.4vw;
}

.as_of_date {
	color: #484848;
	font-size: 0.7vw;
	font-family: ArialMT;
	margin-top: 42vw;
	position: absolute;
	margin-left: 6.2vw;
}

.carousel-indicators li {
  width: 0.4vw;
  height: 0.4vw;
  border-radius: 99%;
}

.carousel-indicators {
	align-items: flex-end;
    margin-bottom: -7vw;
	right: 60%;
	margin-left: -45vw;
}

.carousel-control-next-icon {
    background-image: url("../static/homepage/right-arrow.png");
    height: 7%;
    width: 22%;
}

.carousel-control-next{
    align-items: flex-end;
    margin-bottom: -8vw;
}


/* 6th section */

.get_started_container {
	height: 60vw;
	background: white;
}

.get_started_box {
	background: #FCF4EB;
	text-align: center;
	width: 82vw;
	height: 27vw;
	left: 50%;
	top: 42%;
	position: relative;
	transform: translate(-50%, -50%);
	border-radius: 1%;
}

.exclusive_insights_text {
	color: #404040;
	font-size: 2vw;
	font-family: ArialMT;
	text-align: left;
	margin-top: 4.7vw;
	margin-left: 4.7vw;
}

.sign_up_personalized {
	color: #262528;
	font-size: 1.3vw;
	font-family: ArialMT;
	margin-top: 4.7vw;
	margin-left: 4.7vw;
	text-align: left;
}

.get_started_btn {
    padding: 0.6vw 2vw;   
    margin-top: 1.5vw;
    margin-left: 4.7vw;
    background-color: rgba(254,111,125,1);
    color: white;
    font-family: OpenSans-SemiBold;
    border: none;
    border-radius: 30px;
    outline: none !important;
    cursor: pointer;
    text-align: center;
    height: 3vw;
    width: 14vw;
    display: flex;
	justify-content: center;
	align-items: center;
}

.get_started_text {
	font-size: 1.1vw;
}

.get_started_btn:hover {
  box-shadow: 0 0 0.7vw rgba(33,33,33,.2); 
  background-color: rgba(254,111,125,1) !important;
  color: white;
}

.get_started_btn span {
  flex-shrink: 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.get_started_btn span:after {
  content: '\21E8';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.4vw;
  transition: 0.5s;
}

.get_started_btn:hover span {
  padding-right: 1.7vw;
}

.get_started_btn:hover span:after {
  opacity: 1;
  right: 0;
}

.platforms_img {
	position: absolute;
	left: 45%;
	margin-top: -6vw;
	width: 44vw;
}