@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
	--nav-margin-top: -5px;
	--Roboto: "Roboto", sans-serif;
	--OpenSans: "Open Sans", sans-serif;
}

.hamburger_container::-webkit-scrollbar {
	width: 0 !important; /* Remove scrollbar space */
	background: transparent !important; /* Optional: just make scrollbar invisible */
}

.navbar {
	max-width: 100vw !important;
}

@media (max-width: 580px) {
	.lookup_form_everywhere {
		display: none;
	}
}

@media (max-width: 670px) {
	.navbar.navbar.navbar {
		max-width: 100vw !important;
	}

	#menuToggle#menuToggle#menuToggle {
		right: 15px;
	}

	#menu#menu#menu {
		right: -75px;
	}

	.mrktdb_white {
		display: none;
	}

	.signup_menu.signup_menu.signup_menu {
		font-size: 1em;
	}
}

@media (max-width: 750px) {
	.circle {
		display: none;
	}

	.lookup_form_everywhere.lookup_form_everywhere {
		margin-right: 0px;
	}

	.signup_nav.signup_nav.signup_nav {
		display: none;
	}

	.signin_nav.signin_nav.signin_nav {
		display: none;
	}
}

@media (max-width: 768px) {
	.margin_small3 {
		margin-top: 12px !important;
	}

	.margin_small6 {
		margin-top: 24px !important;
	}

	.margin_small15 {
		margin-top: 60px !important;
	}

	.hamburger_white_logo {
		display: initial !important;
	}

	.signup_menu.signup_menu {
		font-size: 1.2em;
	}
}

@media (max-width: 930px) {
	.logo.logo {
		margin-left: -20px;
	}

	.lookup_form_everywhere.lookup_form_everywhere {
		width: 280px !important;
	}

	.filers {
		display: none;
	}
}

@media (max-width: 970px) {
	.MrktDB {
		display: none;
	}

	.logo {
		margin-right: 40px;
	}
}

@media (max-width: 1000px) {
	.hamburger_white_logo {
		display: none;
	}
}

@media (max-width: 1100px) {
	.mrktdb_nav_logo {
		margin-left: 25px;
	}

	.signup_nav.signup_nav {
		margin-right: 30px;
	}

	.signin_nav.signin_nav {
		margin-right: 110px;
	}

	#menuToggle#menuToggle {
		right: 40px;
	}
}

a:hover {
	color: inherit;
	text-decoration: none;
}

.navbar {
	background: transparent;
	height: 90px;
}

.navbar.active {
	background: #fcf4eb;
	transition: 0.5s;
}

.logo {
	width: 82px;
	height: 80px;
	cursor: pointer;
	margin-top: var(--nav-margin-top);
}

.MrktDB {
	font-size: 1.4em;
	font-family: var(--Roboto);
	font-weight: 500;
	color: #404040;
	margin-left: 15px;
	text-decoration: none;
	cursor: pointer;
	margin-top: var(--nav-margin-top);
}

.signup_nav {
	font-family: var(--Lato);
	font-size: 1.2em;
	color: #404040;
	font-weight: 700;
	margin-top: -8px;
	margin-right: 40px;
}

.signin_nav {
	font-family: var(--Lato);
	font-size: 1.2em;
	color: #404040;
	font-weight: 700;
	margin-top: -8px;
	margin-right: 140px;
}

.signup_nav:hover,
.signin_nav:hover {
	color: #fe6f7d;
}

.lookup_form_everywhere {
	position: relative;
	width: 300px !important;
	margin-right: 40px;
	margin-top: -40px;
}

.lookup {
	background: transparent;
	font-family: var(--Roboto);
	font-size: 0.8em;
	height: 32px;
	width: 100% !important;
	border-color: #a2a2a2;
	border-width: 2px;
	position: absolute;
}

.lookup:focus {
	background: transparent;
	box-shadow: none;
	border-color: rgba(254, 111, 125, 1);
}

.search_btn {
	font-size: 0.8em;
	font-family: var(--Roboto);
	box-shadow: none !important;
	height: 32px;
	color: #404040;
	position: absolute;
	object-position: top right !important;
	right: 0;
	z-index: 1;
	margin-right: 5px;
}

.search_icon {
	margin-right: 10px !important;
}

.filers {
	font-size: 1.2em;
	font-family: var(--Roboto);
	font-weight: 700;
	color: #404040;
	text-decoration: none;
	cursor: pointer;
	margin-right: 40px;
	margin-top: var(--nav-margin-top);
}

.circle {
	font-size: 1em;
	font-family: var(--OpenSans);
	font-weight: 700;
	color: #404040;
	text-decoration: none;
	cursor: pointer;
	margin-right: 30px;
	margin-top: var(--nav-margin-top);
}

a {
	text-decoration: none;
	transition: color 0.3s ease;
}

#menuToggle {
	display: block;
	position: absolute;
	top: 30px;
	right: 60px;
	z-index: 1;
	margin-top: -20px;
	margin-right: 60px;
}

.toggler {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	cursor: pointer;
	object-fit: contain;
	opacity: 0; /* hide this */
	z-index: 3; /* and place it over the hamburger */
}

/* Hamburger */
.hamburger {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.hamburger > div {
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.2px;
	background-color: #0d0d0d;
	transition: 0.4s;
}

.hamburger > div:before {
	content: "";
	position: absolute;
	width: 75%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #0d0d0d;
	top: -10px;
	right: 0;
	transition: 0.4s;
}

.hamburger > div:after {
	content: "";
	position: absolute;
	width: 85%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #0d0d0d;
	top: 10px;
	right: 0;
	transition: 0.4s;
}

.toggler:hover + .hamburger > div:before {
	width: 100%;
}

.toggler:hover + .hamburger > div:after {
	width: 100%;
}

.toggler:checked + .hamburger > div:before {
	width: 100%;
}

.toggler:checked + .hamburger > div:after {
	width: 100%;
}

.toggler:checked + .hamburger > div {
	transform: rotate(135deg);
	background-color: #fff;
}

.toggler:checked:hover + .hamburger > div {
	transform: rotate(225deg);
	background-color: #fff;
}

.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
	top: 0;
	transform: rotate(90deg);
	background-color: #fff;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
	position: absolute;
	width: 100vw;
	margin: -100px 0 0 0;
	padding: 50px;
	padding-top: 125px;
	right: -120px;
	background: #0d0d0d;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 1.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
}

/*
 * fade it in from the left
 */
#menuToggle input:checked ~ div {
	transform: scale(1, 1);
	opacity: 1;
}

.hamburger_container {
	height: 100vh;
	overscroll-behavior: contain;
	overflow-x: hidden !important;
}

.menu_box {
	text-align: center;
	width: 100%;
	max-width: 1500px;
	left: 50%;
	top: 45%;
	position: relative;
	transform: translate(-50%, -50%);
	font-size: 16px;
	max-height: 100%;
}

.toggler:checked + .hamburger + #menu > .hamburger_container > .menu_box {
	animation: menu_content_fade_in 1.5s ease-in-out;
}

.toggler:not(:checked) + .hamburger + #menu {
	transition: transform 2s cubic-bezier(0.77, 0.2, 0.05, 1) 0.5s;
}

.toggler:not(:checked) + .hamburger + #menu > .hamburger_container > .menu_box {
	animation: menu_content_fade_out 0.4s ease-out;
	opacity: 0;
}

@keyframes menu_content_fade_in {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes menu_content_fade_out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slide_up {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}

	90% {
		transform: translateY(100px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slide_down {
	0% {
		transform: translateY(-120px);
		opacity: 0;
	}

	90% {
		transform: translateY(-120px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slide_left {
	0% {
		transform: translateX(80px);
		opacity: 0;
	}

	80% {
		transform: translateX(80px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slide_right {
	0% {
		width: 0;
		opacity: 0;
	}

	70% {
		width: 0;
		opacity: 0;
	}

	100% {
		width: 70%;
		opacity: 1;
	}
}

.hamburger_white_logo {
	width: 120%;
}

.mrktdb_white {
	font-size: 2em;
	font-family: var(--OpenSans);
	color: #fff;
	font-weight: 700;
}

.toggler:checked
	+ .hamburger
	+ #menu
	> .hamburger_container
	> .menu_box
	> div
	> .logo_div {
	animation: slide_down 1.2s ease-out;
}

.toggler:checked
	+ .hamburger
	+ #menu
	> .hamburger_container
	> .menu_box
	> div
	> .mrktdb_white {
	animation: slide_down 1.2s ease-out;
}

.toggler:checked
	+ .hamburger
	+ #menu
	> .hamburger_container
	> .menu_box
	> div
	> .mrktdb_white
	+ .signup_left {
	animation: slide_left 1.6s ease-in;
}

.toggler:checked
	+ .hamburger
	+ #menu
	> .hamburger_container
	> .menu_box
	> div
	> .mrktdb_white
	+ .signup_left
	+ .signup_left {
	animation: slide_left 1.6s ease-in;
}

.toggler:checked
	+ .hamburger
	+ #menu
	> .hamburger_container
	> .menu_box
	> div
	+ .up_13f {
	animation: slide_down 1.7s ease-in;
}

.toggler:checked
	+ .hamburger
	+ #menu
	> .hamburger_container
	> .menu_box
	> div
	+ .up_13f
	+ div
	> .horizontal_line_to_right {
	animation: slide_right 2s ease-in;
}

.toggler:checked
	+ .hamburger
	+ #menu
	> .hamburger_container
	> .menu_box
	> div
	+ .up_13f
	+ div
	+ div
	+ .quick_links_small_screen
	> div
	+ div
	> .horizontal_lines_small_screen_to_right {
	animation: slide_right 2s ease-in;
}

.toggler:checked
	+ .hamburger
	+ #menu
	> .hamburger_container
	> .menu_box
	> div
	+ .up_13f
	+ div
	+ .quick_links {
	animation: slide_up 2s ease-in;
}

@keyframes text_glow {
	to {
		font-size: 1.05em;
		color: #fff;
		font-weight: 550;
	}
}

.hover_effect_row {
	height: 40px !important;
}

.hover_effect:hover {
	animation: text_glow 0.05s forwards;
}

.link_arrow {
	display: none !important;
}

.hover_effect:hover > div > .link_arrow {
	display: initial !important;
}

.horizontal_line_to_right {
	background-color: #fff !important;
	height: 1.3px !important;
}

.horizontal_lines_small_screen_to_right {
	background-color: #fff !important;
	height: 1.3px !important;
}

.signup_menu {
	font-size: 1.4em;
	color: #fff;
	font-weight: 600;
}

.signup_menu:hover {
	color: #fe6f7d;
}

.margin3 {
	margin-top: 15px;
}

.margin6 {
	margin-top: 30px;
}

.margin10 {
	margin-top: 50px;
}

.menu_13f {
	font-size: 2.2em;
	font-family: var(--OpenSans);
	color: #fff;
	font-weight: 600;
	text-align: left;
	animation: slide_up 2s ease-in-out;
}
