:root {
	--nav-margin-top: -5px;
}

@media (max-width: 580px) {
	.lookup_form_everywhere {
		display: none;
	}
}

@media (max-width: 650px) {
	.MrktDB{
		display: none;
	}

	.lookup_form_everywhere.lookup_form_everywhere {
		margin-left: 30px;
	}
}

@media (max-width: 750px) {	
	.circle {
		display: none;
	}
}

@media (max-width: 930px) {
	.logo.logo {
		margin-left: -20px;
	}

	.lookup_form_everywhere.lookup_form_everywhere {
		width: 280px !important;
	}

	.filers {
		display: none;
	}
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.navbar {
	background: transparent;
	height: 90px;
}

.navbar.active {
	background: #FCF4EB;
	transition: 0.5s;
}

.logo {
	width: 82px;
	height: 80px;
	cursor: pointer;
	margin-top: var(--nav-margin-top);
}

.MrktDB {
	font-size: 1.4em;
	font-family: Helvetica;
	color: #404040;
	margin-left: 15px;
	text-decoration: none;
	cursor: pointer;
	margin-top: var(--nav-margin-top);
}


.lookup_form_everywhere {
	position: relative;
	width: 300px !important;
	margin-right: 40px;
	margin-top: -40px;
}

.lookup {
	background: transparent;
	font-family: ArialMT;
	font-size: 0.8em;
	height: 32px;
	width: 100% !important;
	border-color: #a2a2a2;
	border-width: 2px;
	position: absolute;
}

.lookup:focus {
	background: transparent;
	box-shadow: none;
	border-color: rgba(254,111,125,1);
}

.search_btn {
	font-size: 0.8em;
	font-family: ArialMT;
	box-shadow: none !important;
	height: 32px;
	color: #404040;
	position: absolute;
	object-position: top right !important;
	right: 0;
	z-index: 1;
	margin-right: 5px;
}

.search_icon {
	margin-right: 10px !important;
}


.filers {
	font-size: 1.2em;
	font-family: Arial-BoldMT;
	color: #404040;
	text-decoration: none;
	cursor: pointer;
	margin-right: 30px;
	margin-top: var(--nav-margin-top);
}

.circle {
	font-size: 1em;
	font-family: Arial-BoldMT;
	color: #404040;
	text-decoration: none;
	cursor: pointer;
	margin-right: 60px;
	margin-top: var(--nav-margin-top);
}

.menu {
	font-size: 1.2em;
	font-family: Arial-BoldMT;
	color: #404040;
	text-decoration: none;
	cursor: pointer;
	margin-right: 50px;
	margin-top: var(--nav-margin-top);
}