option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fedgehundapi/wsgi.py

container_commands:
  create_database:
    command: "sudo python main.py"
  06_runcrons:
    command: "cat .ebextensions/cronjob.cron > /etc/cron.d/djangocrons && chmod 644 /etc/cron.d/djangocrons"
    leader_only: true