html,
body {
	background: #fcf4eb !important;
	width: 100% !important;
	margin: 0 auto !important;
	padding: 0px !important;
	overflow-x: hidden !important;
}

/* Scroll bar width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #c4c2c2;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 50px;
	background: #fe6f7d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #fa98a2;
}
